# Do not stage nor committ content of these folders or files on Github

# Folders
test2/
train/
val/
dl_mapse/Data
dl_mapse/Data_old
dl_mapse/Data_new
dl_mapse/Data_mix1
test_rotated/
*.h5
test_old/
test_new/
test_mix1/
test_raw-data/
train_old/
train_new/
train_mix1/
val_old/
val_new/
val_mix1/
CurrentAnnotatingData/
CurrentClassifyingData/
CurrentClassifyingData_1degree/
dl_cardiac-view-classification/Data*
dl_cardiac-view-classification/Trym_data_training
temp/
